:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Titillium Web", sans-serif;
    
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexheading {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 15px 0px 21px 0px;
}
header {
    height: 100vh;
    .topbar {
        height: 10vh;
        background-color: #e74c3c;
        display: flex;
        align-items: start;
        justify-content: space-between;
        .logo {
            font-size: 2rem;
            font-style: italic;
            font-weight: 900;
            color: aliceblue;
            position: relative;
            top: 6px;
            left: 24px;
            cursor: pointer;
        }
        .menu {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                list-style: none;
            }
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6rem;
                height: 10vh;
                font-size: 1.3rem;
                text-decoration: none;
                color: aliceblue;
                font-weight: 500;
                &:hover {
                    background-color: #2ecc71;
                    color: #000;
                }
            }
        }
    }

    .slider {
        height: 90vh;
        img {
            height: 30rem;
        }
        .slider-content {
            flex-direction: column;
            h1 {
                font-size: 3.6rem;
            }
            button {
                margin-top: 10px;
                width: 122px;
                height: 54px;
                border-top-left-radius: 15%;
                border-bottom-right-radius: 15%;
                background-color: #e74c3c;
                font-size: 20px;
                font-weight: 400;
                color: aliceblue;
                cursor: pointer;
                border-color: #fff;

                &:hover {
                    background-color: #2ecc71;
                    color: #000;
                }
            }
        }
    }
}

section {
    margin: 0 2vw;
    .section-one {
        height: 90vh;
        background-image: linear-gradient(#ecf0f1, #e4eaebc0);
        .options {
            height: 25vh;

            .a {
                flex-direction: column;
                height: 150px;
                box-shadow: 0 4px 8px 0 rgba(188, 188, 188, 0.2), 0 6px 20px 0 rgba(132, 132, 132, 0.24);
                margin-left: 10px;

                h1 {
                    font-size: 31px;
                    color: #6b7475;
                    word-spacing: 2px;
                }
                .underline {
                    width: 100px;
                    height: 3px;
                    background-color: #e74c3c;
                }
                p {
                    margin-top: 3px;
                    font-size: 15px;
                    text-align: center;
                    word-spacing: 2px;
                    font-weight: 400;
                }
            }
            .b {
                margin-right: 10px;
            }
        }
        
        .bestproduct {
            height: 60vh;
            img {
                width: 46vw;
            }
            .grill {
                margin-right: 10px;
            }
            label {
                font-size: calc(35px + 1.5vw);
                font-weight: 900;
                color: #ecf0f1;
                text-align: center;
                text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
                    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
                position: relative;
                top: -200px;
                left: 185px;
                letter-spacing: 16px;
                animation: shadows 1.2s ease-in infinite;
                text-shadow: 5px #e74c3c;
            }
            @keyframes shadows {
                0% {
                    text-shadow: none;
                }
                10% {
                    transform: translate(-3px, -3px);
                    text-shadow: 3px 3px 0 var(--color-secondary);
                }
                20% {
                    transform: translate(-6px, -6px);
                    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
                }
                30% {
                    transform: translate(-9px, -9px);
                    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
                        9px 9px var(--color-quaternary);
                }
                40% {
                    transform: translate(-12px, -12px);
                    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
                        9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
                }
                50% {
                    transform: translate(-12px, -12px);
                    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
                        9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
                }
                60% {
                    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
                        9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
                }
                70% {
                    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
                        9px 9px var(--color-quaternary);
                }
                80% {
                    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
                }
                90% {
                    text-shadow: 3px 3px 0 var(--color-secondary);
                }
                100% {
                    text-shadow: none;
                }
            }
        }
    }
    .section-two{
        height: 90vh;
        .committee{
            img{
                height: 170px;
                width: 170px;
            }
            flex-wrap: wrap;
            .founder{
                flex-grow: 1;
            }
            .ceo{
    
            }
        }
    }
}
